<ion-header [translucent]="true">
  <ion-toolbar color="primary">
    <ion-title>
      Cart
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">

  <ion-list>
    <ion-item> 
      <ion-avatar side="start">
      <img src="">
    </ion-avatar>
    <ion-label>
      <h3>here will be the name and the price</h3>
    
     <h5>here the selected quantity</h5>
      </ion-label>
    <ion-button slot="end" color="danger" fill="clear">
      <ion-icon name="trash-outline"></ion-icon>
    </ion-button> 
  </ion-item>
    </ion-list> 
   
    <ion-button shape="round" expand="block" color="warning">total</ion-button> 
    <ion-button shape="round" expand="block" color="danger"> Add</ion-button> 
  
</ion-content>
