<ion-header>
  <ion-toolbar>
    <ion-buttons>
      <ion-button routerLink='/tabs'>
        <ion-icon name="chevron-back-sharp"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-icon slot="end" name="globe-sharp"></ion-icon>
    <ion-title>search</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  
 <ion-searchbar placeholder="Search by price, or category"></ion-searchbar>
  
 <ion-list>

  <ion-item>
    <ion-list-header>The header list</ion-list-header>
  </ion-item>
   
   <ion-item>

    <ion-card>
      <ion-avatar side="start">
        <img src="" alt="">
      </ion-avatar>
    </ion-card>
    
    <div>
      <h4>here the name</h4> 
      <h5> BD</h5>
      <h6></h6>
    </div>

  </ion-item>  

</ion-list>

</ion-content>
