<ion-header>
  <ion-toolbar>
    <ion-buttons>
      <ion-button routerLink='/tabs' >
        <ion-icon name="chevron-back-sharp"></ion-icon>Back
      </ion-button>
    </ion-buttons>
    <ion-title>login</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <form>
    <ion-item>
      <ion-label floating>User name: </ion-label>
      <ion-input type="text" placeholder="Username"></ion-input>
    </ion-item>
    <ion-item> 
      <p> Username is required. </p>
    </ion-item>
    
  
  
    <ion-item>
      <ion-label floating>Password</ion-label>
      <ion-input type="password" placeholder="write your password here.."></ion-input>
    </ion-item>
    <ion-item>
      <p> password is required. </p>
      </ion-item>
    
    <ion-button color="danger" slot="end" fill="clear">Forget password?</ion-button>
    <br>    
    <ion-button expand="block" fill="outline" color="danger" type="submit">Login</ion-button>
         </form>
         
    <ion-button fill="clear" routerLink="/sign-up">Don't have an account? Create Now!</ion-button>
  

</ion-content>
