<ion-header>
  <ion-toolbar>
    <ion-buttons>
      <ion-button routerLink='/tabs'>
        <ion-icon name="chevron-back-sharp"></ion-icon>Back
      </ion-button>
    </ion-buttons>
    <ion-title>order</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-card>
    <ion-card-header>Summary Order:</ion-card-header>

    <ion-item> 
      
      <ion-label>
        itemName,<br>
        itemPrice,<br>
        itemQnty,<br>
      </ion-label>
    </ion-item> 
    
    <h6>Total = BD</h6>
    <ion-button fill="outline" shape="round" size="small" color="medium">maximize font. </ion-button>
  
  </ion-card>

</ion-content>
